<div id="welcome-overview">
  <div class="h-full pb-40" id="welcome">
    <div class="ml-10 mr-10 mb-40">
      <div class="flex justify-between mx-auto w-full">
        <%= image_tag "logo.png", class: "h-20" %>
        <div class="flex flex-row h-20 items-center">
          <%= link_to "Sign Up", "#", class: "text-white p-2 h-10" %>
          <%= link_to "Sign In", "#", class: "bg-red-600 text-white p-2 h-10 border border-red-600 rounded-sm" %>
        </div>
      </div>
    </div>
    <div class="flex justify-center text-white ">
      <div class="welcome-texts text-center">
        <p class="text-6xl font-medium max-w-3xl"><%= t(".first_title") %></p>
        <p class="text-3xl mt-4 mb-4"><%= t(".second_title") %></p>
        <p class="text-lg"><%= t(".thrid_text") %></p>
        <div class="flex justify-center mt-4">
          <%= form_for(User.new, url: registration_path(User.new), autocomplete: "off") do |f| %>
            <div class="flex flex-row">
              <div class="relative bg-white w-[30rem]">
                <%= f.email_field :email, required: :required, autocus: false, autocomplete: "off", class: "block px-2.5 pt-5 w-full text-sm bg-transparent appearance-none text-gray-700 border border-0 focus:outline-none focus:ring-0 peer", placeholder: " " %>
                <%= f.label :email, class: "absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4" %>
              </div>
              <%= f.button type: :submit, class: "bg-red-600 text-white self-center text-3xl flex flex-row flex-nowrap" do %>
                <%= (content_tag(:div, t(".get_started"), class: "m-2 ml-4 self-center flex-row flex-nowrap") + heroicon("chevron-right", options: { class: "h-10 mr-2 mt-2 mb-2" })).html_safe %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border-0 border-t-[10px] border-neutral-700 px-[8rem] flex">
  <div class="flex justify-center items-center">
    <div class='text-white mr-20 content-center'>
      <p class="text-6xl max-w-3xl"><%= t(".enjoy_tv") %></p>
      <p class="text-lg"><%= t(".watch_tv") %></p>
    </div>
    <div class="-pt-[150px]">
      <%= image_tag "tv.png" %>
    </div>
  </div>
</div>
<div class="border-0 border-t-[10px] border-neutral-700 px-[6rem] flex mt-20 mb-1">
  <div class="flex justify-center items-center">
    <div class="flex relative items-center justify-center">
      <div class="-pt-[150px]">
        <%= image_tag "mobile.jpg" %>
      </div>
      <div class="bottom-[24px] absolute w-[250px]">
        <div class="rounded-lg border-2 border-gray-700 bg-black h-20 text-white text-center">a</div>
      </div>
    </div>
    <div class='text-white ml-20 content-center'>
      <p class="text-5xl max-w-3xl"><%= t(".download_shows") %></p>
      <p class="text-lg"><%= t(".save_favorites") %></p>
    </div>
  </div>
</div>
<div class="border-0 border-t-[10px] border-neutral-700 px-[8rem] flex mt-20 pb-20">
a
</div>